.body {
    background-color: rgb(197, 203, 222);
}

.section {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 500px;
}

.img {
    margin-left: 0%;
    margin-right: 0%;
    width: 20rem;
}

.container1 {
    background-color: white;
    height: 300px;
}

.h1 {
    margin-top: 0%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0%;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: #455783;
}

.p {
    text-align: center;
    font-size: small;
    margin: 0 2em 0 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8a8fa5;
}

.container2 {
    max-height: max-content;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    justify-content: space-between;
    margin-top: 0.75em;
}

.container3 {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}

.img2 {
    max-height: 40%;
    margin-top: 0.75em;
}

.item2 {
    margin-left: 1em;
}

.h2 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: small;
    color: #283450;

}

.p2 {
    margin-top: 0;
    font-size: small;
    color: #8a8fa5
}

.container4 {
    margin-top: 1em;
    margin-right: 2em;
}

.item3 {
    font-size: small;
}

.item4 {
    display: flex;
    flex-direction: column;
}

.bouton1 {
    background-color: #1400ec;
    border-radius: 10px;
    border: none;
    padding: 0.75em;
    color: aliceblue;
    box-shadow: 10px 10px 10px #9ba7db;
    max-width: 50%;
    margin-left: 5.5em;


}

.bouton2 {
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-right: 1em;
    color: #8a8fa5;

}